.App {
  text-align: center;
  /* background-color: #192841; */
   background-image: url('https://wallpaperaccess.com/full/983283.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(199, 199, 199);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
ul{
  list-style-type: none;
  float:left;
  margin-top: 150px;
}
li{
  padding-top: 50px;
}
.navbar {
   /* transform-origin: top left;
  transform: translateX(100vw) rotate(90deg); */
  position: fixed;
  z-index: 1;
  width: 100vh;
}
.projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
  /* margin-left: 200px;
  margin-right: 100px; */
  
}


.projcard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  box-shadow: 0 0 8px 8px #01112f;
  padding: 10px;
  overflow:visible;
  justify-content: center;
  align-items: center;
  background-color: #012c6c88;
  /* margin-left: 100px;
  margin-right: 100px; */
}
.projcard, video{
  
}
.header, .footer {
  /* background-color: #163832; */
  
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.mypic{
  box-shadow: 0 0 18px 18px #01112f;
  width: 300px;
}
h1{
 
  padding-bottom: 50px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.github{
 margin-left: 50px;
margin-top: 50px;
}
.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
  /* margin-left: 200px;
  margin-right: 100px; */
  /* padding: 50px; */
}
.skills{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
  
}
.icons{
  padding: 70px;
}
.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  
}
section{
  margin-left: 200px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}
.home{
  background-image: url('./media/s10\ 2465.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  margin-left: -1px;
}
.homepage h1{
  color: #01112fbd;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: -50px;
}