.App {
  text-align: center;
  /* background-color: #192841; */
   background-image: url('https://wallpaperaccess.com/full/983283.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(199, 199, 199);
  font-family: 'Indie Flower', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (max-width: 600px) {
  main{
    min-width: 500px;
    
}
img{
  width: 50px;
}
} */

ul{
  list-style-type: none;
  float:left;
  margin-top: 150px;
}
li{
  margin-top: 50px;
  
}
.navbar {
 
  position: fixed;
  z-index: 1;
  width: 100vh;
}
.nav .active{
  box-shadow: 0 0 13px 13px #01112fe8;
  background-color: #01112fb7;
}
.nav :hover{
 font-size: 1.5em;
}

.projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
 
  
}


.projcard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  box-shadow: 0 0 8px 8px #01112f;
  padding: 10px;
  overflow:visible;
  justify-content: center;
  align-items: center;
  background-color: #012c6c88;
 
}

.down{
 margin-top: 250px; 
}

.header, .footer {
 
  
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.mypic{
  box-shadow: 0 0 18px 18px #01112f;
  width: 300px;
}

h1{
 font-size: 60px;
 font-weight: bolder;
  
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.github{
 margin-left: 50px;
margin-top: 50px;
}

.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;

}

.skills{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
  
}
.icons{
  padding: 70px;
}
.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  
}

section{
  margin-left: 200px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.home{
  background-image: url('./media/s10\ 2465.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  margin-left: -1px;
}
.homepage h1{
  color: #01112fbd;
  font-size: xx-large;
  font-weight: bolder;

}